/* custom css goes here */
.dz-preview {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.dz-upload { 
    display: block; 
    background-color: green; 
    height: 10px;
    width: 0%;
}

.dz-success-mark {
	display: none;
}

.dz-error-mark {
	display: none;
}
