<html>
	<head>
		{{ template "head.html" . }}
	</head>
	<body>


<div class="pure-g">
	<div class="pure-u-1">
		<div class="pure-menu pure-menu-horizontal" style="display:block;">
			<ul class="pure-menu-list">
				<li class="pure-menu-item">
					<a href="#" class="pure-menu-link" style="color:#add8e6;">snote</a>
				</li>	
				<li class="pure-menu-item">
					<input id="vim-checkbox" style="display:none;" type="checkbox"/>
					<label id="vim-checkbox-label" for="vim-checkbox" class="pure-menu-link">vim mode</label>
				</li>
				<li class="pure-menu-item">
					<div id="save-button-animator">
						<span id="save-button" class="pure-menu-link" onclick="saveNote();">save</span>
					</div>
				</li>	
				<li class="pure-menu-item">
					<div id="save-button-animator">
						<a href="../" class="pure-menu-link" >preview</a>
					</div>
				</li>	
				<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
					<a href="#" id="menuLink1" class="pure-menu-link">menu</a>
					<ul class="pure-menu-children">
						<li class="pure-menu-item">
							<a href="#" class="pure-menu-link">new note</a>
						</li>
						<li class="pure-menu-item">
							<a href="#" class="pure-menu-link">all notes (/ls)</a>
						</li>
						<li class="pure-menu-item">
							<a href="#" class="pure-menu-link">all tags(/lstag)</a>
						</li>
						<li class="pure-menu-item">
							<a href="#" class="pure-menu-link">search</a>
						</li>
						<li class="pure-menu-item">
							<hr style+"pure-menu-link"/>
						</li>
						<li class="pure-menu-item">
							<a href="#" class="pure-menu-link" style="color:red;">delete note</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>



		<textarea id="editor" style="width:80%; height:80vh;"></textarea>
		<script>
			var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
				lineNumbers: true,
				theme: "default",
				mode: "markdown",
				keyMap: "default",
				showCursorWhenSelecting: true
			});
			editor.setSize("100%", "100%");

			var notyf = new Notyf();

			var noteJSON = null;


			// Vim mode switch
			document.getElementById("vim-checkbox").onchange = function() {
				var checkBox = document.getElementById("vim-checkbox");
				if (checkBox.checked == true){
					editor.setOption("keyMap", "vim");
					document.getElementById("vim-checkbox-label").style.color = "green";
					editor.focus();
				} else {
					editor.setOption("keyMap", "default");
					editor.focus();
					document.getElementById("vim-checkbox-label").style.color = null;
				}	
			};

			// get current note contents from API
			var currentNoteID = window.location.pathname.split("/")[1];
			var xhr = new XMLHttpRequest();
			xhr.open('GET', "/api/note/"+currentNoteID, true);
			xhr.responseType = 'json';
			xhr.onload = function() {
				if (xhr.status === 200) {
					document.getElementById("editor").value = xhr.response.contents;
					editor.getDoc().setValue(xhr.response.contents);
					noteJSON = xhr.response;
				} else {
					alsert("Error sending GET request to fetch note");
					alert(xhr.status);
				}
			};
			xhr.send();

			// function that sends PUT request in order to save note
			function saveNote() {
				document.getElementById("save-button").style.color = "gray";
				var currentNoteID = window.location.pathname.split("/")[1];
				var xhr = new XMLHttpRequest();
				xhr.open('PUT', "/api/note/"+currentNoteID, true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.onreadystatechange = function() {
					if(xhr.readyState == 4 && xhr.status != 200) {
						alert("Error sending PUT request to save note");
						alert(xhr.status);
						document.getElementById("save-button").style.color = "red";
						document.getElementById("save-button").innerHTML = "ERROR SAVING";
						notyf.error("error saving note!");
					} else if (xhr.readyState == 4) {
						document.getElementById("save-button").style.color = "green";
						document.getElementById("save-button").innerHTML = "saved!";
						document.getElementById("save-button-animator").classList.remove("animate__animated");
						document.getElementById("save-button-animator").classList.remove("animate__pulse");
						document.getElementById("save-button-animator").classList.add("animate__animated");
						document.getElementById("save-button-animator").classList.add("animate__pulse");
						//notyf.success("saved!");
					}
				}
				noteJSON.contents = editor.getDoc().getValue();
				xhr.send(JSON.stringify(noteJSON));
			}

			// automatically call saveNote() on every 50 keystrokes
			var keystrokeNum = 0;
			editor.on("change", function(){
				keystrokeNum++;
				if (keystrokeNum >= 50) {
					saveNote();
					keystrokeNum = 0;
				} else if (document.getElementById("save-button").style.color != "gray") {
					// if the saveNote() was called on the keystroke prior to this one,
					// set the color indication back to grey (after 3000ms, let the user
					// notice that the file was saved.)
					setTimeout(function(){
						document.getElementById("save-button").style.color = "gray";
						document.getElementById("save-button").innerHTML = "save";
					}, 3000);
				}
			});

			// call saveNote() on ctrl+s (or CMD+s)
			document.addEventListener("keydown", function(e) {
				if ((window.navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey) && e.keyCode == 83) {
					e.preventDefault();
					saveNote();
				}
			}, false);

			// override codemirror default save (eg. :w in vim mode)
			// CodeMirror.commands.save = saveNote();

		</script>
	</body>
</html>
