		<!-- codemirror -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/codemirror.min.js" integrity="sha512-guAOPzMlYhWXne9TpfFRWD7iI0YnDTVqNN8fNgZGeqcmZFuUKWxD1/74Rsse81voD2uzxyBJkkp97G/tahKipg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/keymap/vim.min.js" integrity="sha512-g2nzBS/fBHxdSRXaDcYGHVg2Rjk7+3gITKVMv1q/ylh2izUiw1AZ50urelrhy7I6EYLQi5RM8FFj3rdATH5wIg==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/mode/markdown/markdown.min.js" integrity="sha512-pPkSf38IdZFkYSNeSKtKBG1ou5FuWwHYuDEiRJRs29igFixW47YY2iIKWhSfDLbpZlI5NO5b3M28KW/u3K2hJw==" crossorigin="anonymous"></script>
		<!-- switchery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js" integrity="sha512-lC8vSUSlXWqh7A/F+EUS3l77bdlj+rGMN4NB5XFAHnTR3jQtg4ibZccWpuSSIdPoPUlUxtnGktLyrWcDhG8RvA==" crossorigin="anonymous"></script>
		<!-- notyf -->
		<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>


